fastapi>=0.115.0
hello-agents>=0.2.8
python-dotenv==1.0.1
requests>=2.31.0
pydantic>=2.8.0
uvicorn[standard]>=0.32.0
loguru>=0.7.3
huggingface_hub>=0.23.0
ddgs>=9.6.1
sentence-transformers>=2.2.2
tavily-python>=0.3.0
google-genai>=0.3.0
